<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<style>
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css); /* 나눔고딕 : 'Nanum Gothic' */
</style>
<title>WebFrameworks.kr - VueJS 가이드 5 - 계정 수정 및 삭제 (2/2)</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/syntax.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/toc.css">
    <script type="text/javascript" src="/static/js/jquery.toc.js"></script>
</head>
<body>
<nav class="navbar navbar-default top_menu" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">웹Frameworks</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/getstarted">Get Started</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/updates">Update</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/tutorials">Tutorials</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/quickstart">Quick Start</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/archives">Archives</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="https://github.com/KoreaHTML5/webframeworks.kr/blob/master/CONTRIBUTE.md" target="_blank">참여하기</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="http://goo.gl/forms/MB9ZxVvdrD" target="_blank">설문하기</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="content_bg"  style="background-color: #;color: #;" >
<div class="col-md-10 col-md-offset-1 title_header jumbotron"  style="background:url() no-repeat center"  >
<h1 class="title_header_title">VueJS 가이드 5 - 계정 수정 및 삭제 (2/2)</h1>
<p class="title_header_summary">VueJS를 통한 애플리케이션 개발에 대해 알아봅니다.</p>
</div>
</div>

<div>

    <div class="col-sm-3 col-md-2 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">작성자</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object profile_img" src="https://avatars2.githubusercontent.com/u/2951094?s=400&u=444fd9e324854bf6615b6f14239a67d878289998&v=4" alt="조덕기">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            조덕기

                        </h4>
                        DanielCho<br>
                    </div>
                </div>
            </div>
        </div>

        <div id="toc_location"></div>

        <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Tags</h3>
    </div>
    <div class="panel-body">
        <a href='/tags/jquery/' style='color: rgba(0,0,0,0.058163)'>jquery</a>
<a href='/tags/javascript/' style='color: rgba(0,0,0,8.957143)'>javascript</a>
<a href='/tags/html/' style='color: rgba(0,0,0,0.058163)'>html</a>
<a href='/tags/grunt/' style='color: rgba(0,0,0,0.058163)'>grunt</a>
<a href='/tags/gulp/' style='color: rgba(0,0,0,0.058163)'>gulp</a>
<a href='/tags/build/' style='color: rgba(0,0,0,0.348980)'>build</a>
<a href='/tags/yeoman/' style='color: rgba(0,0,0,0.058163)'>yeoman</a>
<a href='/tags/foundation/' style='color: rgba(0,0,0,0.058163)'>foundation</a>
<a href='/tags/bower/' style='color: rgba(0,0,0,0.116327)'>bower</a>
<a href='/tags/twitter/' style='color: rgba(0,0,0,0.116327)'>twitter</a>
<a href='/tags/framework/' style='color: rgba(0,0,0,2.268367)'>framework</a>
<a href='/tags/angularjs/' style='color: rgba(0,0,0,0.988776)'>angularjs</a>
<a href='/tags/tutorials/' style='color: rgba(0,0,0,1.279592)'>tutorials</a>
<a href='/tags/backbone/' style='color: rgba(0,0,0,0.232653)'>backbone</a>
<a href='/tags/getstarted/' style='color: rgba(0,0,0,0.174490)'>getstarted</a>
<a href='/tags/underscore/' style='color: rgba(0,0,0,0.058163)'>underscore</a>
<a href='/tags/library/' style='color: rgba(0,0,0,0.407143)'>library</a>
<a href='/tags/Ext/' style='color: rgba(0,0,0,0.523469)'>Ext</a>
<a href='/tags/JS/' style='color: rgba(0,0,0,0.814286)'>JS</a>
<a href='/tags/tutorial/' style='color: rgba(0,0,0,0.756122)'>tutorial</a>
<a href='/tags/modernizr/' style='color: rgba(0,0,0,0.058163)'>modernizr</a>
<a href='/tags/bootstrap/' style='color: rgba(0,0,0,0.174490)'>bootstrap</a>
<a href='/tags/quickstart/' style='color: rgba(0,0,0,0.058163)'>quickstart</a>
<a href='/tags/angular-di/' style='color: rgba(0,0,0,0.058163)'>angular-di</a>
<a href='/tags/animation/' style='color: rgba(0,0,0,0.232653)'>animation</a>
<a href='/tags/router/' style='color: rgba(0,0,0,0.058163)'>router</a>
<a href='/tags/promise/' style='color: rgba(0,0,0,0.290816)'>promise</a>
<a href='/tags/responsive/' style='color: rgba(0,0,0,0.058163)'>responsive</a>
<a href='/tags/form/' style='color: rgba(0,0,0,0.116327)'>form</a>
<a href='/tags/validation/' style='color: rgba(0,0,0,0.116327)'>validation</a>
<a href='/tags/map/' style='color: rgba(0,0,0,0.058163)'>map</a>
<a href='/tags/direcitve/' style='color: rgba(0,0,0,0.058163)'>direcitve</a>
<a href='/tags/file/' style='color: rgba(0,0,0,0.116327)'>file</a>
<a href='/tags/test/' style='color: rgba(0,0,0,0.232653)'>test</a>
<a href='/tags/ui-bootstrap/' style='color: rgba(0,0,0,0.058163)'>ui-bootstrap</a>
<a href='/tags/twitter-bootstrap/' style='color: rgba(0,0,0,0.058163)'>twitter-bootstrap</a>
<a href='/tags/express/' style='color: rgba(0,0,0,0.116327)'>express</a>
<a href='/tags/express.js/' style='color: rgba(0,0,0,0.058163)'>express.js</a>
<a href='/tags/node.js/' style='color: rgba(0,0,0,0.232653)'>node.js</a>
<a href='/tags/backend/' style='color: rgba(0,0,0,0.174490)'>backend</a>
<a href='/tags/d3.js/' style='color: rgba(0,0,0,0.058163)'>d3.js</a>
<a href='/tags/visualization/' style='color: rgba(0,0,0,0.058163)'>visualization</a>
<a href='/tags/reactjs/' style='color: rgba(0,0,0,0.116327)'>reactjs</a>
<a href='/tags/expressjs/' style='color: rgba(0,0,0,0.407143)'>expressjs</a>
<a href='/tags/react/' style='color: rgba(0,0,0,1.279592)'>react</a>
<a href='/tags/session/' style='color: rgba(0,0,0,0.116327)'>session</a>
<a href='/tags/meteor/' style='color: rgba(0,0,0,0.814286)'>meteor</a>
<a href='/tags/SEO/' style='color: rgba(0,0,0,0.058163)'>SEO</a>
<a href='/tags/REST/' style='color: rgba(0,0,0,0.058163)'>REST</a>
<a href='/tags/API/' style='color: rgba(0,0,0,0.058163)'>API</a>
<a href='/tags/es2015/' style='color: rgba(0,0,0,0.116327)'>es2015</a>
<a href='/tags/es6/' style='color: rgba(0,0,0,0.639796)'>es6</a>
<a href='/tags/es7/' style='color: rgba(0,0,0,0.116327)'>es7</a>
<a href='/tags/DDP/' style='color: rgba(0,0,0,0.058163)'>DDP</a>
<a href='/tags/ngMessages/' style='color: rgba(0,0,0,0.116327)'>ngMessages</a>
<a href='/tags/jsx/' style='color: rgba(0,0,0,0.058163)'>jsx</a>
<a href='/tags/publish/' style='color: rgba(0,0,0,0.058163)'>publish</a>
<a href='/tags/subscribe/' style='color: rgba(0,0,0,0.058163)'>subscribe</a>
<a href='/tags/meteor.js/' style='color: rgba(0,0,0,0.058163)'>meteor.js</a>
<a href='/tags/reactive/' style='color: rgba(0,0,0,0.058163)'>reactive</a>
<a href='/tags/package/' style='color: rgba(0,0,0,0.058163)'>package</a>
<a href='/tags/static/' style='color: rgba(0,0,0,0.058163)'>static</a>
<a href='/tags/assets/' style='color: rgba(0,0,0,0.058163)'>assets</a>
<a href='/tags/public/' style='color: rgba(0,0,0,0.058163)'>public</a>
<a href='/tags/flux/' style='color: rgba(0,0,0,0.232653)'>flux</a>
<a href='/tags/redux/' style='color: rgba(0,0,0,0.407143)'>redux</a>
<a href='/tags/server/' style='color: rgba(0,0,0,0.058163)'>server</a>
<a href='/tags/distribution/' style='color: rgba(0,0,0,0.058163)'>distribution</a>
<a href='/tags/webpack/' style='color: rgba(0,0,0,0.174490)'>webpack</a>
<a href='/tags/development/' style='color: rgba(0,0,0,0.058163)'>development</a>
<a href='/tags/optimization/' style='color: rgba(0,0,0,0.058163)'>optimization</a>
<a href='/tags/immutable/' style='color: rgba(0,0,0,0.058163)'>immutable</a>
<a href='/tags/orm/' style='color: rgba(0,0,0,0.232653)'>orm</a>
<a href='/tags/database/' style='color: rgba(0,0,0,0.232653)'>database</a>
<a href='/tags/hapi.js/' style='color: rgba(0,0,0,0.058163)'>hapi.js</a>
<a href='/tags/hapi/' style='color: rgba(0,0,0,0.232653)'>hapi</a>
<a href='/tags/ionic/' style='color: rgba(0,0,0,0.116327)'>ionic</a>
<a href='/tags/hybrid-app/' style='color: rgba(0,0,0,0.058163)'>hybrid-app</a>
<a href='/tags/django/' style='color: rgba(0,0,0,0.058163)'>django</a>
<a href='/tags/fullstack/' style='color: rgba(0,0,0,0.058163)'>fullstack</a>
<a href='/tags/spa/' style='color: rgba(0,0,0,0.058163)'>spa</a>
<a href='/tags/ExpressJS/' style='color: rgba(0,0,0,0.290816)'>ExpressJS</a>
<a href='/tags/NodeJS/' style='color: rgba(0,0,0,0.290816)'>NodeJS</a>
<a href='/tags/Sequelize/' style='color: rgba(0,0,0,0.290816)'>Sequelize</a>
<a href='/tags/Mocha/' style='color: rgba(0,0,0,0.290816)'>Mocha</a>
<a href='/tags/Supertest/' style='color: rgba(0,0,0,0.290816)'>Supertest</a>
<a href='/tags/UnitTest/' style='color: rgba(0,0,0,0.290816)'>UnitTest</a>
<a href='/tags/this/' style='color: rgba(0,0,0,0.116327)'>this</a>
<a href='/tags/dom/' style='color: rgba(0,0,0,0.058163)'>dom</a>
<a href='/tags/es5/' style='color: rgba(0,0,0,0.116327)'>es5</a>
<a href='/tags/virtualdom/' style='color: rgba(0,0,0,0.116327)'>virtualdom</a>
<a href='/tags/modules/' style='color: rgba(0,0,0,0.058163)'>modules</a>
<a href='/tags/asynchronous/' style='color: rgba(0,0,0,0.058163)'>asynchronous</a>
<a href='/tags/semicolon/' style='color: rgba(0,0,0,0.058163)'>semicolon</a>
<a href='/tags/nodejs/' style='color: rgba(0,0,0,0.058163)'>nodejs</a>
<a href='/tags/ECMAScript2015/' style='color: rgba(0,0,0,0.116327)'>ECMAScript2015</a>
<a href='/tags/babel/' style='color: rgba(0,0,0,0.058163)'>babel</a>
<a href='/tags/angular,/' style='color: rgba(0,0,0,0.058163)'>angular,</a>
<a href='/tags/electron/' style='color: rgba(0,0,0,0.116327)'>electron</a>
<a href='/tags/docker/' style='color: rgba(0,0,0,0.290816)'>docker</a>
<a href='/tags/D3/' style='color: rgba(0,0,0,0.058163)'>D3</a>
<a href='/tags/node/' style='color: rgba(0,0,0,0.116327)'>node</a>
<a href='/tags/aws/' style='color: rgba(0,0,0,1.395918)'>aws</a>
<a href='/tags/dynamoDB/' style='color: rgba(0,0,0,0.058163)'>dynamoDB</a>
<a href='/tags/chrome/' style='color: rgba(0,0,0,0.058163)'>chrome</a>
<a href='/tags/native/' style='color: rgba(0,0,0,0.116327)'>native</a>
<a href='/tags/markdown/' style='color: rgba(0,0,0,0.058163)'>markdown</a>
<a href='/tags/vue/' style='color: rgba(0,0,0,2.152041)'>vue</a>
<a href='/tags/middleware/' style='color: rgba(0,0,0,0.058163)'>middleware</a>
<a href='/tags/IoT/' style='color: rgba(0,0,0,0.058163)'>IoT</a>
<a href='/tags/serverless/' style='color: rgba(0,0,0,0.058163)'>serverless</a>
<a href='/tags/python/' style='color: rgba(0,0,0,0.174490)'>python</a>
<a href='/tags/socket.io/' style='color: rgba(0,0,0,0.174490)'>socket.io</a>
<a href='/tags/typescript/' style='color: rgba(0,0,0,0.058163)'>typescript</a>

    </div>
</div>
    </div>

    <div class="col-sm-9 col-md-6">
        <div class="media_content media_item shadow_panel" id="main_content">
            <blockquote>
<p>본 포스팅은 <a href="https://matthiashager.com">Matthias Hager</a> 의 <a href="https://matthiashager.com/complete-vuejs-application-tutorial/edit-delete-accounts">Vue.js Application Tutorial - Step 5: Edit &amp; Delete Accounts</a>를 저자의 허락하에 번역한 글입니다. 오탈자, 오역 등이 있다면 연락부탁드립니다.</p>
</blockquote>

<p>이제 사용자는 목록에서 계정을 삭제할수 있다. 그리고 삭제하기 전에 확인 메시지가 보여질 것이다. 그리고 편집 페이지로 이동할 수 있다. 그 페이지는 계정을 로드하지 않고 생성 페이지와 같은 빈 양식으로 표시된다. 이제 URL 파라미터로 편집하려는 계정의 ID를 수신하고 있다. 그걸 가지고 계정을 조회 할 수 있다.</p>

<p>먼저 ID를 기반으로 실제 계정을 로드해야 한다. 이미 전체 계정 목록을 로드할 수 있는 방법이 있다. 그렇게 하고<code>CreateEditComponent</code>에서 조회하려고 한다. 이 해결책에는 두 가지 문제가 있다. 1) Vuex의 원리 중 하나이자 전반적으로 좋은 프로그래밍 습관은 컴포넌트에게 실제로 액세스해야하는 데이터에만 액세스하도록 하는 것이다. <code>CreateEditComponent</code>는 전체 계정 목록을 필요로 하지 않고 편집 중인 계정 목록만 필요하다. 2) ID를 기반으로 하나의 계정만 가져와야하는 경우가 있을 수도 있다. 그 기능을 중앙 장소로 옮기는 것이 낫지 않을까?</p>

<p>그렇게 하자. Vuex를 사용하여 ID를 기반으로 계정을 가져온 다음 이를 컴포넌트로 전달해 보자. 스토어 내 어디로 가야할까? 아무것도 mutate 하거나 액션을 넣지 않으며, 단순히 목록에서 값을 얻는다. Vuex는 이를 위해 완벽한 <code>getters</code> 기능을 제공한다. <code>accounts/vuex</code> 디렉토리에 <code>getters.js</code>를 추가하고 스토어에 로드하자. 그런 후 <code>CreateEditComponent</code>를<code>UpdateAccountaction</code>에 연결해서 편집할지, 생성할지를 결정하기 위해 컴포넌트가 로딩되었을 때 <code>accountId</code> 파라미터를 찾는 것이다.</p>

<p>src/app/accounts/vuex/getters.js</p>
<div class="highlight"><pre><code class="language-text" data-lang="text">export default {
  getAccountById: (state, getters) =&gt; (accountId) =&gt; {
    return state.accounts &amp;&amp; accountId in state.accounts ? state.accounts[accountId] : false;
  }
};
</code></pre></div>
<p>src/app/accounts/vuex/index.js</p>
<div class="highlight"><pre><code class="language-text" data-lang="text">import * as actions from &#39;./actions&#39;;
import getters from &#39;./getters&#39;;
import mutations from &#39;./mutations&#39;;

const state = {
  accounts: {}
};

export default {
  state,
  actions,
  mutations,
  getters
};
</code></pre></div>
<p>src/app/accounts/components/CreateEditAccount.vue</p>
<div class="highlight"><pre><code class="language-text" data-lang="text">&lt;template&gt;
  &lt;div id=&quot;accounts-create-edit-view&quot;&gt;
    You can create and edit accounts with me, yippee!

    &lt;router-link :to=&quot;{ name: &#39;accountsListView&#39; }&quot;&gt;View all accounts&lt;/router-link&gt;

    &lt;form class=&quot;form&quot; @submit.prevent=&quot;processSave&quot;&gt;
      &lt;label for=&quot;name&quot; class=&quot;label&quot;&gt;Name&lt;/label&gt;
      &lt;p class=&quot;control&quot;&gt;
        &lt;input type=&quot;text&quot; class=&quot;input&quot; name=&quot;name&quot; v-model=&quot;selectedAccount.name&quot;&gt;
      &lt;/p&gt;
      &lt;label for=&quot;category&quot; class=&quot;label&quot;&gt;Category&lt;/label&gt;
      &lt;p class=&quot;control&quot;&gt;
        &lt;span class=&quot;select&quot;&gt;
          &lt;select name=&quot;category&quot; v-model=&quot;selectedAccount.category&quot;&gt;
            &lt;option v-for=&quot;value, key in categories&quot; :value=&quot;key&quot;&gt;&lt;/option&gt;
          &lt;/select&gt;
        &lt;/span&gt;
      &lt;/p&gt;
      &lt;label for=&quot;balance&quot; class=&quot;label&quot;&gt;Balance&lt;/label&gt;
      &lt;p class=&quot;control&quot;&gt;
        &lt;input type=&quot;text&quot; class=&quot;input&quot; name=&quot;balance&quot; v-model=&quot;selectedAccount.balance&quot;&gt;
      &lt;/p&gt;
      &lt;div class=&quot;control is-grouped&quot;&gt;
        &lt;p class=&quot;control&quot;&gt;
          &lt;button class=&quot;button is-primary&quot;&gt;Submit&lt;/button&gt;
        &lt;/p&gt;
        &lt;p class=&quot;control&quot;&gt;
          &lt;router-link :to=&quot;{ name: &#39;accountsListView&#39; }&quot;&gt;&lt;button class=&quot;button is-link&quot;&gt;Cancel&lt;/button&gt;&lt;/router-link&gt;
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/form&gt;
  &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
import { mapActions, mapGetters } from &#39;vuex&#39;;
import { CATEGORIES } from &#39;../../../consts&#39;;

export default {
  name: &#39;accounts-create-edit-view&#39;,

  data: () =&gt; {
    return {
      categories: CATEGORIES,
      selectedAccount: {},
      editing: false
    };
  },

  mounted () {
    if (&#39;accountId&#39; in this.$route.params) {
      let selectedAccount = this.getAccountById(this.$route.params.accountId);
      if (selectedAccount) {
        this.editing = true;
        this.selectedAccount = selectedAccount;
      }
      // TODO: the object does not exist, how do we handle this scenario?
    }
  },

  methods: {
    ...mapActions([
      &#39;addAccount&#39;,
      &#39;updateAccount&#39;
    ]),

    resetAndGo () {
      this.selectedAccount = {};
      this.$router.push({ name: &#39;accountsListView&#39; });
    },

    saveNewAccount () {
      this.addAccount(this.selectedAccount).then(() =&gt; {
        this.resetAndGo();
      });
    },

    saveAccount () {
      this.updateAccount(this.selectedAccount).then(() =&gt; {
        this.resetAndGo();
      });
    },

    processSave () {
      this.editing ? this.saveAccount() : this.saveNewAccount();
    }
  },

  computed: {
    ...mapGetters([
      &#39;getAccountById&#39;
    ])
  }
};
&lt;/script&gt;

&lt;style scoped lang=&#39;scss&#39;&gt;
#accounts-create-edit-view {
}
&lt;/style&gt;
</code></pre></div>
<p>하나의 문제를 제외하고 모든 게 잘된다. 이 문제점을 찾아보자. 이것을 보여주는 아래 gif는 무시하자! </p>

<p>다음을 시도해보자. 계정을 수정하기 시작하고 이름을 변경한 다음, 저장하지 않고 계정 목록에서 취소하고 나와 보자. 편집 내용이 남아있는가?</p>

<p><img src="https://matthiashager.com/user/pages/complete-vuejs-application-tutorial/edit-delete-accounts/budgeterbium-editing-store-object.gif" alt="">이를 통해 스토어 내의 계정 오브젝트를 우린 직접 수정하고 있다는 것을 확인할 수 있다. 사실 이는 우리가 원했던 방식은 아니다. 일단 우리가 수정할 수 있는 오브젝트를 복사한다. 우린 직접 클론을 만들 수 있지만, 사실 우린 2개의 필드만 사용자가 수정할 수 있도록 해주면 된다. 우린 사용자가 계정 잔액을 직접 수정하길 원하지 않는다. 즉, 계정의 타입과 이름만 알면 된다. </p>

<p>src/app/accounts/components/CreateEditAccount.vue</p>
<div class="highlight"><pre><code class="language-text" data-lang="text">&lt;p class=&quot;control&quot;&gt;
  &lt;input type=&quot;text&quot; class=&quot;input&quot; name=&quot;balance&quot; v-model=&quot;selectedAccount.balance&quot; v-if=&quot;!editing&quot;&gt;
  &lt;span v-else&gt;To update your balance, add a balance adjusting transaction.&lt;/span&gt;
&lt;/p&gt;

...

if (selectedAccount) {
  this.editing = true;
  this.selectedAccount = {
    name: selectedAccount.name,
    category: selectedAccount.category,
    id: selectedAccount.id
  };
}
</code></pre></div>
<p>GIT : <a href="https://github.com/matthiaswh/budgeterbium/commit/6c3e2069912247509aa48f10c17fdbc606d2664e">6c3e206</a></p>

        </div>

        <div class="media_content media_item shadow_panel">
            <p>Tags : <a href="/tags/vue">vue</a>&nbsp;<a href="/tags/javascript">javascript</a>&nbsp;</p>
        </div>


        <div class="media_content media_item shadow_panel">
            <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'html5krforkisa'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
        </div>

    </div>

    <script>
        $('#main_content').toc();
    </script>
</div>
<footer>
<table width="100%" height="80" class="footer">
    <tr>
        <td align="center" class="footer_content">
            WebFrameworks.kr @since 2015
        </td>
    </tr>
</table>
</footer>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56520981-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>