---
    layout : default
    title : Home
---

<div id="carousel-example-generic" class="carousel slide main_banner" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active" style="height:350px;background-color: #d58512;">
            <div class="jumbotron slide_item" style="background: url(/img/webrtc.png) no-repeat center;color:#333333;">
                <h1>WebRTC</h1>
                <p>WebRTC is the best solution for Video Conference on Web.</p>
                <p>
                    <button type="button" class="btn btn-primary">알아보기</button>
                </p>
            </div>
            <div class="carousel-caption">
                <h3>Updates</h3>
            </div>
        </div>
        <div class="item" style="height:350px;background-color: #d43f3a;">
            <div class="jumbotron slide_item" style="background: url(/img/AngularJS-large.png) no-repeat center;">
                <h1>AngularJS</h1>
                <p>AngularJS를 사용하여 보다 효율적인 개발 프로세스를 만들어 보세요.</p>
                <p>
                    <button type="button" class="btn btn-primary">알아보기</button>
                </p>
            </div>

            <div class="carousel-caption">
                <h3>Get Started</h3>
            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="row">
    <div class="col-md-7 col-md-offset-1">
        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="2">
                    Tutorials
                </th>
                <th align="right">
                    <a href="{{site.baseurl}}/tutorials">더보기</a>
                </th>
            </tr>
            {% for post in site.categories.tutorials limit:5 %}
            <tr>
                <td width="70%"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></td>
                <td width="15%">{{ site.data.authors[post.author].name }}</td>
                <td width="15%">{{ post.date | date:"%Y.%m.%d" }}</td>
            </tr>
            {% endfor %}

        </table>

        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="2">
                    Get Started
                </th>
                <th align="right">
                    <a href="{{site.baseurl}}/getstarted">더보기</a>
                </th>
            </tr>
            {% for post in site.categories.getstarted limit:5 %}
            <tr>
                <td width="70%"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></td>
                <td width="15%">{{ site.data.authors[post.author].name }}</td>
                <td width="15%">{{ post.date | date:"%Y.%m.%d" }}</td>
            </tr>
            {% endfor %}
        </table>

        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="2">
                    Updates
                </th>
                <th align="right">
                    <a href="{{site.baseurl}}/updates">더보기</a>
                </th>
            </tr>
            <tr>
                <td width="70%">W3C에서 Veckon을 최우수 표준 준수 업체로 선정.</td>
                <td width="15%">2014.8.11</td>
                <td width="15%">W3C</td>
            </tr>
            <tr>
                <td>W3C에서 Veckon을 최우수 표준 준수 업체로 선정.</td>
                <td>2014.8.11</td>
                <td>W3C</td>
            </tr>
            <tr>
                <td>W3C에서 Veckon을 최우수 표준 준수 업체로 선정.</td>
                <td>2014.8.11</td>
                <td>W3C</td>
            </tr>
            <tr>
                <td>W3C에서 Veckon을 최우수 표준 준수 업체로 선정.</td>
                <td>2014.8.11</td>
                <td>W3C</td>
            </tr>
            <tr>
                <td>W3C에서 Veckon을 최우수 표준 준수 업체로 선정.</td>
                <td>2014.8.11</td>
                <td>W3C</td>
            </tr>
        </table>

    </div>
    <div class="col-md-3">
        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="1" width="70%">
                    Contributors
                </th>
                <th align="right" width="30%">
                    <a href="https://github.com/KoreaHTML5/dev.koreahtml5.kr/graphs/contributors" target="_blank">더보기</a>
                </th>
            </tr>
{% for author in site.data.authors limit:5 %}
            <tr>
                <td colspan="2"><table width="100%">
                    <tr>
                        <td rowspan="2" width="55"><img src="{{ author[1].img }}" class="img-circle profile_img"></td>
                        <td>{{ author[1].name }}</td>

                    </tr>
                    <tr><td>[<a href="https://github.com/{{ author[1].github }}" target="_blank">{{ author[1].github }}</a>]</td></tr>
                </table>
            </tr>
{% endfor %}
        </table>

        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="1" width="70%">
                    Quick Start
                </th>
                <th align="right" width="30%">
                    <a href="{{site.baseurl}}/quickstart">더보기</a>
                </th>
            </tr>
            <tr>
                <td colspan="2"><a href="https://github.com/KoreaHTML5/quickstart-jquery" target="_blank">jQuery</a></td>
            </tr>
        </table>
    </div>
</div>
