---
    layout : default
    title : Home
---

<div id="carousel-example-generic" class="carousel slide main_banner" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active" style="height:350px;background-color: #3b99d4;">
            <div class="jumbotron slide_item" style="background: url({{site.baseurl}}/static/img/gear.png) no-repeat center;color:#fcfcfc;">
                <h1>Web Framework !?</h1>
                <p>많은 개발자들에 의해 검증되고 실제 프로젝트에 사용되는 공개 프레임워크들은 웹서비스 개발시 매우 유용합니다.<br>공유된 웹프레임워크들을 확인하고 자신의 프로젝트에 적합한 프레임워크를 찾아보십시요.</p>
                <p>
                    <a href="{{site.baseurl}}/getstarted" class="btn btn-info">알아보기</a>
                </p>
            </div>

        </div>
        <div class="item" style="height:350px;background-color: #d43f3a;">
            <div class="jumbotron slide_item" style="background: url({{site.baseurl}}/static/img/flash.png) no-repeat center;">
                <h1>Quick Start</h1>
                <p>백문이 불여일견!<br>바로 실제 예제 코드가 포함된 프로젝트를 Fork 해보세요.</p>
                <p>
                    <a class="btn btn-warning" href="{{site.baseurl}}/quickstart">알아보기</a>
                </p>
            </div>

        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div>
    <div class="col-md-7 col-md-offset-1">
        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="2">
                    Tutorials
                </th>
                <th align="right">
                    <a href="{{site.baseurl}}/tutorials">더보기</a>
                </th>
            </tr>
            {% for post in site.categories.tutorials limit:5 %}
            <tr>
                <td width="70%"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></td>
                <td width="15%">{{ site.data.authors[post.author].name }}</td>
                <td width="15%">{{ post.date | date:"%Y.%m.%d" }}</td>
            </tr>
            {% endfor %}

        </table>

        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="2">
                    Get Started
                </th>
                <th align="right">
                    <a href="{{site.baseurl}}/getstarted">더보기</a>
                </th>
            </tr>
            {% for post in site.categories.getstarted limit:5 %}
            <tr>
                <td width="70%"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></td>
                <td width="15%">{{ site.data.authors[post.author].name }}</td>
                <td width="15%">{{ post.date | date:"%Y.%m.%d" }}</td>
            </tr>
            {% endfor %}
        </table>

        <table width="100%" class="table table-striped shadow_panel" id="updatesTab">
            <tr>
                <th >
                    Updates
                </th>
                <th align="right">
                    <a href="{{site.baseurl}}/updates">더보기</a>
                </th>
            </tr>
        </table>

    </div>
    <div class="col-md-3">
        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="1" width="70%">
                    Contributors
                </th>
                <th align="right" width="30%">
                    <a href="https://github.com/KoreaHTML5/dev.koreahtml5.kr/graphs/contributors" target="_blank">더보기</a>
                </th>
            </tr>
{% for author in site.data.authors limit:5 %}
            <tr>
                <td colspan="2"><table width="100%">
                    <tr>
                        <td rowspan="2" width="55"><img src="{{ author[1].img }}" class="img-circle profile_img"></td>
                        <td>{{ author[1].name }}</td>

                    </tr>
                    <tr><td>[<a href="https://github.com/{{ author[1].github }}" target="_blank">{{ author[1].github }}</a>]</td></tr>
                </table>
            </tr>
{% endfor %}
        </table>

        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="1" width="70%">
                    Quick Start
                </th>
                <th align="right" width="30%">
                    <a href="{{site.baseurl}}/quickstart">더보기</a>
                </th>
            </tr>
            <tr>
                <td colspan="2"><a href="https://github.com/KoreaHTML5/quickstart-angularjs" target="_blank">AngularJS</a></td>
            </tr>
            <tr>
                <td colspan="2"><a href="https://github.com/KoreaHTML5/quickstart-backbonejs" target="_blank">BackboneJS</a></td>
            </tr>
            <tr>
                <td colspan="2"><a href="https://github.com/KoreaHTML5/quickstart-bootstrap" target="_blank">Bootstrap</a></td>
            </tr>
            <tr>
                <td colspan="2"><a href="https://github.com/KoreaHTML5/quickstart-extjs" target="_blank">ExtJS</a></td>
            </tr>
            <tr>
                <td colspan="2"><a href="https://github.com/KoreaHTML5/quickstart-jquery" target="_blank">jQuery</a></td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function(){
        fetch();

    });

    function fetch(page_){
        jQuery.support.cors = true;
        var pageNumber = page_;
        if(!pageNumber){
            pageNumber = 1;
        }
        $.ajax({
            url : 'http://www.koreahtml5.kr/rest/weekly',
            type : 'GET',
            dataType : 'json',
            crossDomain : true,
            data:{
                bbs_no : 'BBS0000005',
                pageIndex : pageNumber,
                pageRow : 5
            },
            success:function(resp){
                var dataList = resp.list;
                for(var key in dataList){
                    console.log(dataList[key]);
                    var rowObj = $('<tr><td width=\"85%\"><a href=\"{{site.baseurl}}/updates/detail#'+dataList[key].seq+'\">'+dataList[key].title+'</a></td><td width=\"15%\">'+printDate(dataList[key].reg_date)+'</td></tr>');
                    $('#updatesTab').append(rowObj);
                }
            },
            error:function(err_){
                console.error(err_);
            }
        });
    }

    function printDate(date_){
        return date_.substr(0,4)+'.'+date_.substr(4,2)+'.'+date_.substr(6,2);
    }



</script>
