<table width="100%" class="table table-striped shadow_panel">
    <tr>
        <th colspan="1">
            Index
        </th>
    </tr>
    <tr>
        <td>
            <div class="panel-group" id="gs_menu">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #f0e924">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#gs_menu" href="#menu1">
                                Library
                            </a>
                        </h4>
                    </div>
                    <div id="menu1" class="panel-collapse list-group">
                        <a href="{{site.baseurl}}/getstarted/jquery" class="list-group-item">jQuery</a>
                        <a href="{{site.baseurl}}/getstarted/underscore" class="list-group-item">underscore.js</a>
                        <a href="{{site.baseurl}}/getstarted/modernizr" class="list-group-item">modernizr.js</a>
                        <a href="{{site.baseurl}}/getstarted/d3js" class="list-group-item">D3.js</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#4492bf;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#gs_menu" href="#menu2">
                                UI Framework
                            </a>
                        </h4>
                    </div>
                    <div id="menu2" class="panel-collapse  list-group">
                        <a href="{{site.baseurl}}/getstarted/bootstrap" class="list-group-item">Bootstrap</a>
                        <a href="{{site.baseurl}}/getstarted/foundation" class="list-group-item">Foundation</a>
                        <a href="{{site.baseurl}}/getstarted/ui-bootstrap" class="list-group-item">UI Bootstrap</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #43a648">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#gs_menu" href="#menu3">
                                JS Framework
                            </a>
                        </h4>
                    </div>
                    <div id="menu3" class="panel-collapse list-group">
                        <a href="{{site.baseurl}}/getstarted/angularjs" class="list-group-item">AngularJS</a>
                        <a href="{{site.baseurl}}/getstarted/backbonejs" class="list-group-item">BackboneJS</a>
                        <a href="{{site.baseurl}}/getstarted/extjs" class="list-group-item">ExtJS</a>
                        <a href="{{site.baseurl}}/getstarted/reactjs" class="list-group-item">ReactJS</a>
                        <a href="{{site.baseurl}}/getstarted/expressjs" class="list-group-item">ExpressJS</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #e6813c;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#gs_menu" href="#menu4">
                                Tools
                            </a>
                        </h4>
                    </div>
                    <div id="menu4" class="panel-collapse  list-group">
                        <a href="{{site.baseurl}}/getstarted/yeoman" class="list-group-item">Yeoman</a>
                        <a href="{{site.baseurl}}/getstarted/bower" class="list-group-item">Bower</a>
                        <a href="{{site.baseurl}}/getstarted/grunt-and-gulp" class="list-group-item">Grunt / Gulp</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>