<style>
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css); /* 나눔고딕 : 'Nanum Gothic' */
</style>
<title>Dev Html5Korea Home - {{ page.title }}</title>
<link rel="stylesheet" href="{{site.baseurl}}/static/css/bootstrap.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/static/css/main.css">
<link rel="stylesheet" href="{{site.baseurl}}/static/css/syntax.css">
<script src="{{site.baseurl}}/static/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/static/js/bootstrap.min.js"></script>
