<table width="100%" class="table table-striped shadow_panel">
    <tr>
        <th colspan="1">
            Repositories
        </th>
    </tr>
    <tr>
        <td>
            <div class="panel-group" id="qs_menu">
                <div class="panel panel-default">
                    <div id="menu1" class="panel-collapse list-group">
                        <a href="https://github.com/KoreaHTML5/quickstart-jquery" class="list-group-item">jQuery</a>
                    </div>
                </div>
        </td>
    </tr>
</table>
