<table width="100%" class="table table-striped shadow_panel">
    <tr>
        <th colspan="1">
            Repositories
        </th>
    </tr>
    <tr>
        <td>
            <div class="panel-group" id="qs_menu">
                <div class="panel panel-default">
                    <div id="menu1" class="panel-collapse list-group">
                        <a href="https://github.com/KoreaHTML5/quickstart-angularjs" class="list-group-item">Angularjs</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-angular-spa" class="list-group-item">Angularjs-SPA</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-backbonejs" class="list-group-item">Backbonejs</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-bootstrap" class="list-group-item">Bootstrap</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-d3" class="list-group-item">D3</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-expressjs" class="list-group-item">Expressjs</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-express-new" class="list-group-item">Expressjs-API</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-extjs" class="list-group-item">ExtJs</a>
			            <a href="https://github.com/KoreaHTML5/quickstart-foundation" class="list-group-item">Foundation</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-jquery" class="list-group-item">jQuery</a>
                        <a href="https://github.com/KoreaHTML5/todo-list" class="list-group-item">jQuery-RubyonRailes</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-meteor" class="list-group-item">Meteor</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-meteor-new" class="list-group-item">Meteor-SNS</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-react" class="list-group-item">React</a>
                        <a href="https://github.com/KoreaHTML5/todo_react" class="list-group-item">React-todo</a>
                        <a href="https://github.com/KoreaHTML5/snippod-starter-quickstart-react" class="list-group-item">React-Snippod</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-react-new" class="list-group-item">React-Redux</a>
                        <a href="https://github.com/KoreaHTML5/quickstart-uiBootstrap" class="list-group-item">UI Bootstrap</a>
                        <a href="https://github.com/KoreaHTML5/codelab-my-movies" class="list-group-item">IONIC-list</a>
                        <a href="https://github.com/KoreaHTML5/codelab-my-todos" class="list-group-item">IONIC-todo</a>
                        <a href="https://github.com/KoreaHTML5/codelab-todoApp" class="list-group-item">IONIC2-todo</a>
                        <a href="https://github.com/KoreaHTML5/CodeLab-React-Native" class="list-group-item">React Native</a>
                        <a href="https://github.com/KoreaHTML5/CodeLab-Next-JS" class="list-group-item">NextJS</a>
                        <a href="https://github.com/KoreaHTML5/price-fairy" class="list-group-item">Python-PriceFairy</a>
                        <a href="https://github.com/KoreaHTML5/python-serverless-demo" class="list-group-item">Python-Serverless</a>
                        <a href="https://github.com/KoreaHTML5/codelab-node-web" class="list-group-item">Node-Express</a>
                        <a href="https://github.com/KoreaHTML5/aws-start-guide-for-beginner" class="list-group-item">AWS Start Guide</a>
                        <a href="https://github.com/KoreaHTML5/serverless-todo-demo" class="list-group-item">AWS Serverless-ToDo</a>
                        <a href="https://github.com/KoreaHTML5/serverless-crawler-demo" class="list-group-item">AWS Serverless-Clawler</a>
                        <a href="https://github.com/KoreaHTML5/serverless-webapp-demo" class="list-group-item">AWS Serverless-WebApp</a>
                        <a href="https://github.com/KoreaHTML5/ws-serverless-demo" class="list-group-item">AWS Serverless-WebSocket</a>
                    </div>
                </div>
        </td>
    </tr>
</table>
