---
layout : default
---

<div class="row cate_bg">
    <div class="col-md-10 col-md-offset-1 jumbotron title_header">
        <h1>Tutorials</h1>
        <p>학습을 통해 좀 더 자세한 사항을 알아봅니다.</p>
    </div>

</div>
<div class="row">
    <div class="col-md-2 col-md-offset-1">
        {% include tags.html %}
    </div>
    <div class="col-md-8">
        <ul class="media-list">
            {% for post in site.categories.tutorials %}
            <li class="media_item">
                <div class="media media_content shadow_panel">
                    <a class="pull-left" href="#">
                        <img class="media-object profile_img_large img-thumbnail" src="{{ site.data.authors[post.author].img }}" alt="{{ post.author }}">
                    </a>
                    <div class="media-body">
                        <div class="page-headermedia-heading">
                            <h4><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<small>{{ post.date | date:"%Y.%m.%d" }}</small></h4>
                        </div>
                        <p>{{ post.summary }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
