---
layout : default
---

<div class="row cate_bg">
    <div class="col-md-10 col-md-offset-1 jumbotron title_header">
        <h1>Tutorials</h1>
        <p>여러분에게 필요한 웹기술들을 선택한 후, 학습을 통해 좀 더 자세한 사항을 알아보세요.</p>
    </div>

</div>
<div class="row">
    <div class="col-md-offset-2 col-md-2">
        <div class="thumbnail">
            <div style="text-align: center;padding:10px;"><span style="font-size: 40px;" class="glyphicon glyphicon-th"></span></div>
            <div class="caption">
                <h4>화면구성</h4>
                <p>웹서비스 개발시 고려해야할 레이아웃 구성과 내용의 적절한 표현을 위한 기능들을 알아봅니다.</p>
                <p>
                    <ul>
                        <li>레이아웃 구성</li>
                        <li>페이지 동적 로딩</li>
                        <li>화면 효과</li>
                    </ul>
                </p>
                <p><a href="{{site.baseurl}}/tutorials/sub/setlayout" class="btn btn-primary" role="button">바로가기</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail">
            <div style="text-align: center;padding:10px;"><span style="font-size: 40px;" class="glyphicon glyphicon-tasks"></span></div>
            <div class="caption">
                <h4>데이터 처리</h4>
                <p>웹서비스에서 가장 중요한 데이터를 처리하는 방법을 알아봅니다.</p>
                <p>
                <ul>
                    <li>데이터 바인딩</li>
                    <li>데이터 입력</li>
                    <li>데이터 조회</li>
                    <li>데이터 표현</li>
                </ul>
                </p>
                <p><a href="{{site.baseurl}}/tutorials/sub/datahandling" class="btn btn-primary" role="button">바로가기</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail">
            <div style="text-align: center;padding:10px;"><span style="font-size: 40px;" class="glyphicon glyphicon-cloud-upload"></span></div>
            <div class="caption">
                <h4>테스트 / 배포하기</h4>
                <p>테스트는 또 하나의 개발 프로세스 입니다. 웹서비스 개발시 가능한 테스트 방법을 알아보고 개발이 완료된 이후 배포 방법에 대하여 알아봅니다.</p>
                <p><a href="{{site.baseurl}}/tutorials/sub/publish" class="btn btn-primary" role="button">바로가기</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail">
            <div style="text-align: center;padding:10px;"><span style="font-size: 40px;" class="glyphicon glyphicon-gift"></span></div>
            <div class="caption">
                <h4>Tip & Trick</h4>
                <p>웹서비스 개발시에 유용한 각종 팁들과 각종 문제 해결을 위한 트릭들을 알아봅니다.</p>
                <p><a href="{{site.baseurl}}/tutorials/sub/tips" class="btn btn-primary" role="button">바로가기</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 style="border-bottom: 1px solid #cccccc;">

        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-2">
        {% include tags.html %}
    </div>
    <div class="col-md-6 media_content">

        <ul class="media-list">
            {% for post in site.categories.tutorials %}
            <li class="media_item">
                <div class="media media_content shadow_panel">
                    <a class="pull-left" href="#">
                        <img class="media-object profile_img_large img-thumbnail" src="{{ site.data.authors[post.author].img }}" alt="{{ post.author }}">
                    </a>
                    <div class="media-body">
                        <div class="page-headermedia-heading">
                            <h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>&nbsp;<small>{{ post.date | date:"%Y.%m.%d" }}</small></h4>
                        </div>
                        <p>{{ post.summary }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
