---
layout : default
---

<div class="row cate_bg">
    <div class="col-md-10 col-md-offset-1 jumbotron title_header">
        <h1>Tip & Trick</h1>
        <p>웹서비스 개발시에 유용한 각종 팁들과 각종 문제 해결을 위한 트릭들을 알아봅니다.</p>
    </div>

</div>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
        {% include tags.html %}
    </div>
    <div class="col-md-6 media_content">

        <ul class="media-list">
            {% for post in site.categories.tutorials %}
            {% if post.subcategory == "tips" %}
            <li class="media_item">
                <div class="media media_content">
                    <a class="pull-left" href="#">
                        <img class="media-object profile_img_large img-thumbnail" src="{{ site.data.authors[post.author].img }}" alt="{{ post.author }}">
                    </a>
                    <div class="media-body">
                        <div class="page-headermedia-heading">
                            <h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>&nbsp;<small>{{ post.date | date:"%Y.%m.%d" }}</small></h4>
                        </div>
                        <p>{{ post.summary }}</p>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

    </div>
</div>