---
        layout : default
---

<div class="row cate_bg">
    <div class="col-md-10 col-md-offset-1 jumbotron title_header">
        <h1>Get Started</h1>
        <p>기초의 내용을 다룹니다.</p>
    </div>

</div>
<div class="row">
    <div class="col-md-2 col-md-offset-1">
        {% include gs_menu.html %}
    </div>
    <div class="col-md-8">
        <ul class="media-list">
            {% for post in site.categories.getstarted %}
            <li class="media_item">
                <div class="media media_content shadow_panel">
                    <a class="pull-left" href="#">
                        <img class="media-object profile_img_large img-thumbnail" src="/img/profile.jpg" alt="nurinamu">
                    </a>
                    <div class="media-body">
                        <div class="page-headermedia-heading">
                            <h4><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp;<small>{% tag_cloud %}</small></h4>
                        </div>
                        <a href="{{ post.url }}">여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
</body>
</html>