---
        layout : default
---

<div class="row cate_bg">
    <div class="col-md-10 col-md-offset-1 jumbotron title_header">
        <h1>Get Started</h1>
        <p>기초의 내용을 다룹니다.</p>
    </div>

</div>
<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <table width="100%" class="table table-striped shadow_panel">
            <tr>
                <th colspan="1">
                    Menu
                </th>
            </tr>
            <tr>
                <td>
                    <div class="panel-group" id="gs_menu">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#gs_menu" href="#menu1">
                                        Library
                                    </a>
                                </h4>
                            </div>
                            <ul id="menu1" class="panel-collapse collapse list-group">
                                <li class="list-group-item">jQuery</li>
                                <li class="list-group-item">underscore.js</li>
                                <li class="list-group-item">modernizr.js</li>
                            </ul>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#gs_menu" href="#menu2">
                                        UI Framework
                                    </a>
                                </h4>
                            </div>
                            <ul id="menu2" class="panel-collapse collapse list-group">
                                <li class="list-group-item">Bootstrap</li>
                                <li class="list-group-item">Foundation</li>
                            </ul>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#gs_menu" href="#menu3">
                                        JS Framework
                                    </a>
                                </h4>
                            </div>
                            <ul id="menu3" class="panel-collapse collapse list-group">
                                <li class="list-group-item">AngularJS</li>
                                <li class="list-group-item">BackboneJS</li>
                                <li class="list-group-item">ExtJS</li>
                            </ul>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#gs_menu" href="#menu4">
                                        Tools
                                    </a>
                                </h4>
                            </div>
                            <ul id="menu4" class="panel-collapse collapse list-group">
                                <li class="list-group-item">Yeoman</li>
                                <li class="list-group-item">Grunt</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-8">
        <ul class="media-list">
            {% for post in site.categories.getstarted %}
            <li class="media_item">
                <div class="media media_content shadow_panel">
                    <a class="pull-left" href="#">
                        <img class="media-object profile_img_large img-thumbnail" src="/img/profile.jpg" alt="nurinamu">
                    </a>
                    <div class="media-body">
                        <div class="page-headermedia-heading">
                            <h4><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp;<small>[&nbsp;{% for tag in post.tags %}{{tag}}&nbsp;{% endfor %}]</small></h4>
                        </div>
                        <a href="{{ post.url }}">여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다
                        여기에는 엄청 많은 이야기가 적힐겁니다</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
</body>
</html>