<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<style>
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css); /* 나눔고딕 : 'Nanum Gothic' */
</style>
<title>WebFrameworks.kr - 비동기 프로그래밍을 위한 Promise와 Deferred 알아보기</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/syntax.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/toc.css">
    <script type="text/javascript" src="/static/js/jquery.toc.js"></script>
</head>
<body>
<nav class="navbar navbar-default top_menu" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">웹Frameworks</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/getstarted">Get Started</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/updates">Update</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/tutorials">Tutorials</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/quickstart">Quick Start</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/archives">Archives</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="https://github.com/KoreaHTML5/webframeworks.kr/blob/master/CONTRIBUTE.md" target="_blank">참여하기</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="http://goo.gl/forms/MB9ZxVvdrD" target="_blank">설문하기</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="content_bg"  style="background-color: #DD1B16;color: #FFFFFF;" >
<div class="col-md-10 col-md-offset-1 title_header jumbotron"  style="background:url() no-repeat center"  >
<h1 class="title_header_title">비동기 프로그래밍을 위한 Promise와 Deferred 알아보기</h1>
<p class="title_header_summary">AngularJS는 비동기 프로그래밍을 위해 $q 서비스를 제공하는데 이 $q 서비스가 무슨 기능을 제공하는지 살펴보겠다.</p>
</div>
</div>

<div>

    <div class="col-sm-3 col-md-2 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">작성자</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object profile_img" src="https://avatars0.githubusercontent.com/u/912457?v=2&u=d21f5c15ee6f71c888c43b7bf42b147a7a68ce08&s=140" alt="고재도">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            고재도

                        </h4>
                        jeado<br>
                    </div>
                </div>
            </div>
        </div>

        <div id="toc_location"></div>

        <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Tags</h3>
    </div>
    <div class="panel-body">
        <a href='/tags/jquery/' style='color: rgba(0,0,0,0.058549)'>jquery</a>
<a href='/tags/javascript/' style='color: rgba(0,0,0,8.840933)'>javascript</a>
<a href='/tags/html/' style='color: rgba(0,0,0,0.058549)'>html</a>
<a href='/tags/grunt/' style='color: rgba(0,0,0,0.058549)'>grunt</a>
<a href='/tags/gulp/' style='color: rgba(0,0,0,0.058549)'>gulp</a>
<a href='/tags/build/' style='color: rgba(0,0,0,0.351295)'>build</a>
<a href='/tags/yeoman/' style='color: rgba(0,0,0,0.058549)'>yeoman</a>
<a href='/tags/foundation/' style='color: rgba(0,0,0,0.058549)'>foundation</a>
<a href='/tags/bower/' style='color: rgba(0,0,0,0.117098)'>bower</a>
<a href='/tags/twitter/' style='color: rgba(0,0,0,0.117098)'>twitter</a>
<a href='/tags/framework/' style='color: rgba(0,0,0,2.224870)'>framework</a>
<a href='/tags/angularjs/' style='color: rgba(0,0,0,0.995337)'>angularjs</a>
<a href='/tags/tutorials/' style='color: rgba(0,0,0,1.288083)'>tutorials</a>
<a href='/tags/backbone/' style='color: rgba(0,0,0,0.234197)'>backbone</a>
<a href='/tags/getstarted/' style='color: rgba(0,0,0,0.175648)'>getstarted</a>
<a href='/tags/underscore/' style='color: rgba(0,0,0,0.058549)'>underscore</a>
<a href='/tags/library/' style='color: rgba(0,0,0,0.409845)'>library</a>
<a href='/tags/Ext/' style='color: rgba(0,0,0,0.526943)'>Ext</a>
<a href='/tags/JS/' style='color: rgba(0,0,0,0.819689)'>JS</a>
<a href='/tags/tutorial/' style='color: rgba(0,0,0,0.761140)'>tutorial</a>
<a href='/tags/modernizr/' style='color: rgba(0,0,0,0.058549)'>modernizr</a>
<a href='/tags/bootstrap/' style='color: rgba(0,0,0,0.175648)'>bootstrap</a>
<a href='/tags/quickstart/' style='color: rgba(0,0,0,0.058549)'>quickstart</a>
<a href='/tags/angular-di/' style='color: rgba(0,0,0,0.058549)'>angular-di</a>
<a href='/tags/animation/' style='color: rgba(0,0,0,0.234197)'>animation</a>
<a href='/tags/router/' style='color: rgba(0,0,0,0.058549)'>router</a>
<a href='/tags/promise/' style='color: rgba(0,0,0,0.292746)'>promise</a>
<a href='/tags/responsive/' style='color: rgba(0,0,0,0.058549)'>responsive</a>
<a href='/tags/form/' style='color: rgba(0,0,0,0.117098)'>form</a>
<a href='/tags/validation/' style='color: rgba(0,0,0,0.117098)'>validation</a>
<a href='/tags/map/' style='color: rgba(0,0,0,0.058549)'>map</a>
<a href='/tags/direcitve/' style='color: rgba(0,0,0,0.058549)'>direcitve</a>
<a href='/tags/file/' style='color: rgba(0,0,0,0.117098)'>file</a>
<a href='/tags/test/' style='color: rgba(0,0,0,0.234197)'>test</a>
<a href='/tags/ui-bootstrap/' style='color: rgba(0,0,0,0.058549)'>ui-bootstrap</a>
<a href='/tags/twitter-bootstrap/' style='color: rgba(0,0,0,0.058549)'>twitter-bootstrap</a>
<a href='/tags/express/' style='color: rgba(0,0,0,0.117098)'>express</a>
<a href='/tags/express.js/' style='color: rgba(0,0,0,0.058549)'>express.js</a>
<a href='/tags/node.js/' style='color: rgba(0,0,0,0.234197)'>node.js</a>
<a href='/tags/backend/' style='color: rgba(0,0,0,0.175648)'>backend</a>
<a href='/tags/d3.js/' style='color: rgba(0,0,0,0.058549)'>d3.js</a>
<a href='/tags/visualization/' style='color: rgba(0,0,0,0.058549)'>visualization</a>
<a href='/tags/reactjs/' style='color: rgba(0,0,0,0.117098)'>reactjs</a>
<a href='/tags/expressjs/' style='color: rgba(0,0,0,0.409845)'>expressjs</a>
<a href='/tags/react/' style='color: rgba(0,0,0,1.288083)'>react</a>
<a href='/tags/session/' style='color: rgba(0,0,0,0.117098)'>session</a>
<a href='/tags/meteor/' style='color: rgba(0,0,0,0.819689)'>meteor</a>
<a href='/tags/SEO/' style='color: rgba(0,0,0,0.058549)'>SEO</a>
<a href='/tags/REST/' style='color: rgba(0,0,0,0.058549)'>REST</a>
<a href='/tags/API/' style='color: rgba(0,0,0,0.058549)'>API</a>
<a href='/tags/es2015/' style='color: rgba(0,0,0,0.117098)'>es2015</a>
<a href='/tags/es6/' style='color: rgba(0,0,0,0.644041)'>es6</a>
<a href='/tags/es7/' style='color: rgba(0,0,0,0.117098)'>es7</a>
<a href='/tags/DDP/' style='color: rgba(0,0,0,0.058549)'>DDP</a>
<a href='/tags/ngMessages/' style='color: rgba(0,0,0,0.117098)'>ngMessages</a>
<a href='/tags/jsx/' style='color: rgba(0,0,0,0.058549)'>jsx</a>
<a href='/tags/publish/' style='color: rgba(0,0,0,0.058549)'>publish</a>
<a href='/tags/subscribe/' style='color: rgba(0,0,0,0.058549)'>subscribe</a>
<a href='/tags/meteor.js/' style='color: rgba(0,0,0,0.058549)'>meteor.js</a>
<a href='/tags/reactive/' style='color: rgba(0,0,0,0.058549)'>reactive</a>
<a href='/tags/package/' style='color: rgba(0,0,0,0.058549)'>package</a>
<a href='/tags/static/' style='color: rgba(0,0,0,0.058549)'>static</a>
<a href='/tags/assets/' style='color: rgba(0,0,0,0.058549)'>assets</a>
<a href='/tags/public/' style='color: rgba(0,0,0,0.058549)'>public</a>
<a href='/tags/flux/' style='color: rgba(0,0,0,0.234197)'>flux</a>
<a href='/tags/redux/' style='color: rgba(0,0,0,0.409845)'>redux</a>
<a href='/tags/server/' style='color: rgba(0,0,0,0.058549)'>server</a>
<a href='/tags/distribution/' style='color: rgba(0,0,0,0.058549)'>distribution</a>
<a href='/tags/webpack/' style='color: rgba(0,0,0,0.175648)'>webpack</a>
<a href='/tags/development/' style='color: rgba(0,0,0,0.058549)'>development</a>
<a href='/tags/optimization/' style='color: rgba(0,0,0,0.058549)'>optimization</a>
<a href='/tags/immutable/' style='color: rgba(0,0,0,0.058549)'>immutable</a>
<a href='/tags/orm/' style='color: rgba(0,0,0,0.234197)'>orm</a>
<a href='/tags/database/' style='color: rgba(0,0,0,0.234197)'>database</a>
<a href='/tags/hapi.js/' style='color: rgba(0,0,0,0.058549)'>hapi.js</a>
<a href='/tags/hapi/' style='color: rgba(0,0,0,0.234197)'>hapi</a>
<a href='/tags/ionic/' style='color: rgba(0,0,0,0.117098)'>ionic</a>
<a href='/tags/hybrid-app/' style='color: rgba(0,0,0,0.058549)'>hybrid-app</a>
<a href='/tags/django/' style='color: rgba(0,0,0,0.058549)'>django</a>
<a href='/tags/fullstack/' style='color: rgba(0,0,0,0.058549)'>fullstack</a>
<a href='/tags/spa/' style='color: rgba(0,0,0,0.058549)'>spa</a>
<a href='/tags/ExpressJS/' style='color: rgba(0,0,0,0.292746)'>ExpressJS</a>
<a href='/tags/NodeJS/' style='color: rgba(0,0,0,0.292746)'>NodeJS</a>
<a href='/tags/Sequelize/' style='color: rgba(0,0,0,0.292746)'>Sequelize</a>
<a href='/tags/Mocha/' style='color: rgba(0,0,0,0.292746)'>Mocha</a>
<a href='/tags/Supertest/' style='color: rgba(0,0,0,0.292746)'>Supertest</a>
<a href='/tags/UnitTest/' style='color: rgba(0,0,0,0.292746)'>UnitTest</a>
<a href='/tags/this/' style='color: rgba(0,0,0,0.117098)'>this</a>
<a href='/tags/dom/' style='color: rgba(0,0,0,0.058549)'>dom</a>
<a href='/tags/es5/' style='color: rgba(0,0,0,0.117098)'>es5</a>
<a href='/tags/virtualdom/' style='color: rgba(0,0,0,0.117098)'>virtualdom</a>
<a href='/tags/modules/' style='color: rgba(0,0,0,0.058549)'>modules</a>
<a href='/tags/asynchronous/' style='color: rgba(0,0,0,0.058549)'>asynchronous</a>
<a href='/tags/semicolon/' style='color: rgba(0,0,0,0.058549)'>semicolon</a>
<a href='/tags/nodejs/' style='color: rgba(0,0,0,0.058549)'>nodejs</a>
<a href='/tags/ECMAScript2015/' style='color: rgba(0,0,0,0.117098)'>ECMAScript2015</a>
<a href='/tags/babel/' style='color: rgba(0,0,0,0.058549)'>babel</a>
<a href='/tags/angular,/' style='color: rgba(0,0,0,0.058549)'>angular,</a>
<a href='/tags/electron/' style='color: rgba(0,0,0,0.058549)'>electron</a>
<a href='/tags/docker/' style='color: rgba(0,0,0,0.234197)'>docker</a>
<a href='/tags/D3/' style='color: rgba(0,0,0,0.058549)'>D3</a>
<a href='/tags/node/' style='color: rgba(0,0,0,0.117098)'>node</a>
<a href='/tags/aws/' style='color: rgba(0,0,0,1.346632)'>aws</a>
<a href='/tags/dynamoDB/' style='color: rgba(0,0,0,0.058549)'>dynamoDB</a>
<a href='/tags/chrome/' style='color: rgba(0,0,0,0.058549)'>chrome</a>
<a href='/tags/native/' style='color: rgba(0,0,0,0.117098)'>native</a>
<a href='/tags/markdown/' style='color: rgba(0,0,0,0.058549)'>markdown</a>
<a href='/tags/vue/' style='color: rgba(0,0,0,2.107772)'>vue</a>
<a href='/tags/middleware/' style='color: rgba(0,0,0,0.058549)'>middleware</a>
<a href='/tags/IoT/' style='color: rgba(0,0,0,0.058549)'>IoT</a>
<a href='/tags/serverless/' style='color: rgba(0,0,0,0.058549)'>serverless</a>
<a href='/tags/python/' style='color: rgba(0,0,0,0.175648)'>python</a>
<a href='/tags/socket.io/' style='color: rgba(0,0,0,0.175648)'>socket.io</a>

    </div>
</div>
    </div>

    <div class="col-sm-9 col-md-6">
        <div class="media_content media_item shadow_panel" id="main_content">
            <h1>비동기 프로그래밍을 위한 Promise와 Deferred 알아보기</h1>

<p>자바스크립트로 어플리케이션을 개발하다 보면 비동기 프로그래밍을 하지 않을 수 없다. 가령 다음과 같은 코드가 있다고 하자.</p>

<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;1&quot;</span><span class="p">);</span>
<span class="nx">$</span><span class="p">(</span><span class="s1">&#39;.button&#39;</span><span class="p">).</span><span class="nx">click</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span> 
  <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;2&quot;</span><span class="p">);</span> 
<span class="p">});</span> 
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;3&quot;</span><span class="p">);</span>
<span class="nx">setTimeout</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span> <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;4&quot;</span><span class="p">);</span> <span class="p">},</span> <span class="mi">1000</span><span class="p">);</span> 
<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;5&quot;</span><span class="p">);</span>
<span class="nx">$</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">&#39;getUserList.do&#39;</span><span class="p">,</span><span class="kd">function</span><span class="p">(</span><span class="nx">result</span><span class="p">){</span>
  <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;6&quot;</span><span class="p">);</span>
<span class="p">});</span></code></pre></div>

<p>위 코드를 실행하면 콘솔화면에 1 2 3 4 5 6이 나타날까? 그건 시어머니도 모른다. 버튼을 클릭해야 2가 찍히고 1초가 지나야 4가 찍히고 getUserList.do로의 요청이 성공적으로 완료해야 6이 찍히기 때문이다. 아마 1 3 5의 순서만은 보장될 것이다. 이렇게 우리는 콜백 함수를 등록하고 이벤트가 완료되면 해당 콜백 함수를 실행하는 방식의 비동기 프로그래밍을 해왔다.</p>

<p>하지만 비동기 프로그래밍를 하다 보면 여러 이벤트를 순서대로 제어하고자 할 때가 있다. 예를 들어, 클릭하고 1초가 지난 뒤 getUserList.do로 요청을 보내려면 다음과 같은 코드를 작성할 것이다.</p>

<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">$</span><span class="p">(</span><span class="s1">&#39;.button&#39;</span><span class="p">).</span><span class="nx">click</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span> 
    <span class="nx">setTimeout</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span>
      <span class="nx">$</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">&#39;getUserList.do&#39;</span><span class="p">,</span><span class="kd">function</span><span class="p">(</span><span class="nx">result</span><span class="p">){</span>
        <span class="c1">//..... });</span>
      <span class="p">},</span> <span class="mi">1000</span><span class="p">);</span>
    <span class="p">});</span>
<span class="p">});</span></code></pre></div>

<p>위와 같은 코드를 콜백 피라미드 악몽<sup>callback pyramid of doom</sup>이라고 하는데 이렇게 작성하면 에러에 대한 처리와 개발 코드에 대한 관리가 매우 어려워진다. 하지만 이러한 비동기 프로그래밍에 대하여 Common JS Promises/A 스펙이 제안됐고 제이쿼리 또한 1.5 이후 버전부터 채택해 왔다. 그래서 다음과 같이 코드를 작성할 수 있다.</p>

<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="kd">var</span> <span class="nx">pormise</span> <span class="o">=</span> <span class="nx">$</span><span class="p">.</span><span class="nx">ajax</span><span class="p">();</span>

<span class="nx">pomise</span><span class="p">.</span><span class="nx">done</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span> <span class="p">...</span> <span class="p">});</span>
<span class="nx">pomise</span><span class="p">.</span><span class="nx">fail</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span> <span class="p">...</span> <span class="p">});</span>
<span class="nx">pomise</span><span class="p">.</span><span class="nx">always</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span> <span class="p">...</span> <span class="p">});</span></code></pre></div>

<p>위 코드를 보면 AJAX 요청을 하게 되면 promise라는 객체가 반환된다. 그리고 해당 객체의 done 메서드를 이용해 성공 처리를 한다. 이 promise 객체는 Common JS Promises/A에서 비동기 프로그래밍에 대한 처리를 위해 표준 스펙으로 정의된 내용이다.</p>

<h2>$q 서비스</h2>

<p>AngularJS는 앞에서 본 Common JS Promises/A 스펙에 대한 구현 API를 $q 서비스를 이용해 제공한다. $q 서비스는 Kris Kowal의 Q.js에 영감을 받아 구현되어 이름이 $q 이다. $q 서비스는 Q.js에 비해 제공하는 기능은 적지만 AngularJS의 scope 모델의 데이터 바인딩에 대한 처리가 최적화돼 있다.</p>

<h2>Promise 객체</h2>

<p>Promise는 문자 그대로 약속을 표현하는 자바스크립트 객체다. 약속은 지켜질 수 있고 물론 지켜지지 않을 수도 있다. 간단한 예를 들면, 선생님이 학생에게 숙제를 주었고 학생은 선생님께 숙제를 해오겠다고(미래의 언젠가) 약속(promise)했다. 이때 선생님은 다음과 같은 경우수를 생각할 수 있다.</p>

<ol>
<li>학생이 약속을 지키고 숙제를 해오는데 100점이다. 그러면 사탕을 10개 준다.</li>
<li>학생이 약속을 지키고 숙제를 해오는데 점수가 100점이 아니다. 그러면 사탕을 5개 준다.</li>
<li>학생이 약속을 지키지 않고 숙제를 해오지 않았다. 그러면 엉덩이 100만 대를 때린다.</li>
</ol>

<p>위와 같은 경우를 코드로 나타내면 다음과 같을 것이다.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html">var promiseWithStudent = Student.doHomework(homework);

promiseWithStudent.then(
    //then 메소드의 첫번째 인자로 전달되는 콜백함수는 약속이 지켜지면 실행된다.
    function(data) {
        if (Teacher.makeScore(data) === 100) { 
            Teacher.giveCandy(100,Student);
        } else {
            Teacher.giveCandy(50,Student);
        }
    },
    //then 메소드의 두번째 인자로 전달되는 콜백함수는 약속을 어기면(취소/거절) 실행된다.
    function(error) {
        Teacher.hitHip(1000000,Student);
    }
);</code></pre></div>

<p>학생이 숙제를 해온다고 약속하면 위 코드에서는 promise 객체를 반환한다고 생각하면 된다. 그리고 약속이 지켜질 때와 지켜지지 않을 때를 then 메서드를 이용해 정의하는데 지켜지면 첫 번째 콜백 함수가 호출되고 지켜지지 않으면 두 번째 콜백 함수가 호출된다. 이 처럼 promise 객체는 미래에 지켜지거나 지켜지지 않을 일을 객체로 표현했고 이 일들에 대한 처리를 then 메서드를 이용해 처리하는 것이다.</p>

<p>실제 AngularJS에서는 $http, $timeoute, $resource, $route 등 여러 서비스에서 promise 객체를 반환한다. 그럼 AngularJS의 promise API를 간단한 예제를 이용해 살펴보자. 전체 소스코드는 <a href="https://github.com/jeado/web-angular-sample/tree/promise-deferred">GitHub web-angular-sample 프로젝트의 promise-deferred Branch</a>에서 promise-deferred.html 파일로 확인할 수 있다.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- 생략 --&gt;</span>
<span class="nt">&lt;body</span> <span class="na">ng-controller=</span><span class="s">&quot;mainCtrl&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;container&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h1&gt;</span>3초안에 답을 말하세요!<span class="nt">&lt;/h1&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;well clearfix&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div&gt;</span>
                10-1+29+2-1 = <span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">&quot;answer&quot;</span> <span class="na">ng-disabled=</span><span class="s">&quot;result&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;pull-right&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn-info&quot;</span> <span class="na">ng-click=</span><span class="s">&quot;giveUp()&quot;</span><span class="nt">&gt;</span>포기<span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;row&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-lg-12&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">&quot;well&quot;</span><span class="nt">&gt;</span> <span class="nt">&lt;br&gt;</span> <span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/body&gt;</span></code></pre></div>

<p>위 코드는 간단히 3초안에 문제를 풀고 답을 하는 화면의 템플릿 코드이다. 그럼 자바스크립트 코드를 보자</p>

<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">&#39;demo-app&#39;</span><span class="p">,</span> <span class="p">[])</span>
<span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">&#39;mainCtrl&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;$scope&#39;</span><span class="p">,</span><span class="s1">&#39;$timeout&#39;</span><span class="p">,</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">$scope</span><span class="p">,</span> <span class="nx">$timeout</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">//$timeout 서비스는 setTimeout을 AngularJS가 추상화한 서비스로 기본적인 사용법은 같다. 그리고 $timeout 서비스는 promise객체를 반환한다.</span>
    <span class="kd">var</span> <span class="nx">threeSecPromise</span> <span class="o">=</span> <span class="nx">$timeout</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">return</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">answer</span><span class="p">;</span> 
    <span class="p">},</span><span class="mi">3000</span><span class="p">);</span>
    
    <span class="c1">//해당 약속은 3초가 지나면 자동으로 해당 약속은 지켜지고 then 메서드의 성공 콜백 함수가 실행된다.</span>
    <span class="nx">threeSecPromise</span><span class="p">.</span><span class="nx">then</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">val</span><span class="p">)</span> <span class="p">{</span>
        <span class="k">if</span><span class="p">(</span><span class="nx">val</span> <span class="o">==</span> <span class="mi">39</span><span class="p">){</span>
            <span class="nx">$scope</span><span class="p">.</span><span class="nx">result</span><span class="o">=</span><span class="s2">&quot;맞았어요.&quot;</span><span class="p">;</span>
        <span class="p">}</span><span class="k">else</span><span class="p">{</span>
            <span class="nx">$scope</span><span class="p">.</span><span class="nx">result</span><span class="o">=</span><span class="s2">&quot;틀렸어요.&quot;</span><span class="p">;</span>
        <span class="p">}</span>
    <span class="p">},</span><span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
        <span class="nx">$scope</span><span class="p">.</span><span class="nx">result</span><span class="o">=</span><span class="s2">&quot;너무 어려웠나요?&quot;</span><span class="p">;</span>
    <span class="p">});</span>

    <span class="c1">//약속이 성공하든 취소하든 finally 메소드가 호출한다.</span>
    <span class="nx">threeSecPromise</span><span class="p">.</span><span class="k">finally</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
        <span class="nx">$scope</span><span class="p">.</span><span class="nx">info</span> <span class="o">=</span> <span class="s2">&quot;다시 시작하려면 refresh 해주세요.&quot;</span>
    <span class="p">});</span>

    <span class="nx">$scope</span><span class="p">.</span><span class="nx">giveUp</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
        <span class="c1">//$timeout은 $timeout.cancel(promise 객체)로 해당 약속을 취소할 수도 있다. 그러면 $timeout에 주어진 콜백 함수는 실행되지 않고 promise의 실패 콜백 함수가 실행된다.</span>
        <span class="nx">$timeout</span><span class="p">.</span><span class="nx">cancel</span><span class="p">(</span><span class="nx">threeSecPromise</span><span class="p">);</span>
    <span class="p">};</span>
<span class="p">}]);</span></code></pre></div>

<p>위 예제를 브라우저에서 열면 다음 그림과 같다.</p>

<p><img src="imgs/promise_deferred_tutorial_01.png" style="width:420px;height:220px;" alt="3초 퀴즈 예제 그림" title="3초 퀴즈 예제 그림"></p>

<p>사용자가 포기 버튼을 클릭하면 해당 3초 안에 답을 주는 약속을 취소하게 되고 약속을 포기했을 때 “너무 어려웠나요?”라는 결과가 화면에 표시된다. 그리고 약속이 지켜지든 취소되든 “다시 시작하려면 refresh 해주세요.”라는 메시지가 화면에 표시된다.</p>

<h2>Deferred 객체</h2>

<p>약속이 지켜지거나 거절될 때의 일을 정의하였으면 누군가는 약속을 지키거나 거절해야 한다. 이러한 일을 하는 것이 바로 deferred 객체다. 약속을 만든 사람이 약속을 거절하고 취소하듯이 deferred는 약속을 만들고 이 약속의 상태를 변경한다. </p>

<p>AnguarJS에서는 $q.defer()를 이용해 deferred 객체를 생성할 수 있다(deferred 객체의 생성은 곧 promise의 생성이기도 하다). 이렇게 생성한 deferred 객체는 resolve, reject, notify를 통하여 약속을 지키거나 거절/취소하거나 진행 상태를 알려주게 된다. deferred객체는 주로 별도의 서비스를 만들고 해당 서비스에서 생성하여 해당 객체의 약속을 반환하는 식으로 많이 사용한다. 다음 코드를 보자.</p>

<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">&#39;demo-app&#39;</span><span class="p">,</span> <span class="p">[])</span>
  <span class="p">.</span><span class="nx">factory</span><span class="p">(</span><span class="s1">&#39;userService&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$http</span><span class="p">,</span> <span class="nx">$log</span><span class="p">,</span> <span class="nx">$q</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">return</span> <span class="p">{</span>
     <span class="nx">getUser</span><span class="o">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">userId</span><span class="p">)</span> <span class="p">{</span>
       <span class="c1">//deferred 객체를 생성한다.</span>
       <span class="kd">var</span> <span class="nx">deferred</span> <span class="o">=</span> <span class="nx">$q</span><span class="p">.</span><span class="nx">defer</span><span class="p">();</span>
       <span class="nx">$http</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">&#39;/api/users/&#39;</span> <span class="o">+</span> <span class="nx">userID</span><span class="p">)</span>
         <span class="p">.</span><span class="nx">success</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span> <span class="p">{</span> 
            <span class="c1">//요청이 성공하면 약속을 지키고 별도 데이터를 전달한다.</span>
            <span class="nx">deferred</span><span class="p">.</span><span class="nx">resolve</span><span class="p">({</span>
               <span class="nx">name</span><span class="o">:</span> <span class="nx">data</span><span class="p">.</span><span class="nx">name</span><span class="p">,</span>
               <span class="nx">address</span><span class="o">:</span> <span class="nx">data</span><span class="p">.</span><span class="nx">address</span><span class="p">});</span>
         <span class="p">}).</span><span class="nx">error</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">msg</span><span class="p">,</span> <span class="nx">code</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">//요청이 실패하면 약속을 취소하고 메시지를 전달한다.</span>
            <span class="nx">deferred</span><span class="p">.</span><span class="nx">reject</span><span class="p">(</span><span class="nx">msg</span><span class="p">);</span>
            <span class="nx">$log</span><span class="p">.</span><span class="nx">error</span><span class="p">(</span><span class="nx">msg</span><span class="p">,</span> <span class="nx">code</span><span class="p">);</span>
         <span class="p">});</span>
       <span class="c1">//해당 deferred 객체의 약속을 반환한다.</span>
       <span class="k">return</span> <span class="nx">deferred</span><span class="p">.</span><span class="nx">promise</span><span class="p">;</span>
     <span class="p">}</span>
    <span class="p">}</span>
   <span class="p">});</span></code></pre></div>

<h2>여러 Promise 묶어주기 ($q.all)</h2>

<p>$q 서비스는 앞에서 본 Promise/defer API 뿐만 아니라 미래에 지켜지거나 지켜지지 않을 여러 약속을 하나의 약속으로 처리할 수 있는 API도 제공한다. 그럼 앞의 예제에서 처럼 별도의 서비스를 만들고 이 서비스에서 두 Ajax 서비스가 반환하는 약속을 묶어서 처리하고 그에 대한 약속을 반한해보자.</p>

<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">factory</span><span class="p">(</span><span class="s1">&#39;asyncService&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$http</span><span class="p">,</span> <span class="nx">$q</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">return</span> <span class="p">{</span>
    <span class="nx">loadDataFromTwoReq</span><span class="o">:</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
      <span class="kd">var</span> <span class="nx">deferred</span> <span class="o">=</span> <span class="nx">$q</span><span class="p">.</span><span class="nx">defer</span><span class="p">(),</span>
          <span class="nx">httpPromise1</span> <span class="o">=</span> <span class="nx">$http</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">&#39;/api/req1&#39;</span><span class="p">),</span>
          <span class="nx">httpPromise2</span> <span class="o">=</span> <span class="nx">$http</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">&#39;/api/req2&#39;</span><span class="p">);</span>

      <span class="c1">//두 약속을 $q.all 메서드를 이용해 새로운 약속을 만든다.</span>
      <span class="nx">$q</span><span class="p">.</span><span class="nx">all</span><span class="p">(</span><span class="nx">httpPromise1</span><span class="p">,</span> <span class="nx">httpPromise2</span><span class="p">)</span>
        <span class="p">.</span><span class="nx">then</span><span class="p">(</span>
          <span class="kd">function</span><span class="p">(</span><span class="nx">results</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">//두 약속이 모두 지켜지면 asyncService서비스가 반한하는 약속을 지키고 두 약속이 전달하는 결과를 묶은 배열로 전달한다.</span>
            <span class="nx">deferred</span><span class="p">.</span><span class="nx">resolve</span><span class="p">(</span><span class="nx">results</span><span class="p">)</span> 
          <span class="p">},</span>
          <span class="kd">function</span><span class="p">(</span><span class="nx">errors</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">deferred</span><span class="p">.</span><span class="nx">reject</span><span class="p">(</span><span class="nx">errors</span><span class="p">);</span>
          <span class="p">},</span>
          <span class="kd">function</span><span class="p">(</span><span class="nx">updates</span><span class="p">)</span> <span class="p">{</span>
          <span class="nx">deferred</span><span class="p">.</span><span class="nx">update</span><span class="p">(</span><span class="nx">updates</span><span class="p">);</span>
        <span class="p">});</span>
      <span class="k">return</span> <span class="nx">deferred</span><span class="p">.</span><span class="nx">promise</span><span class="p">;</span>
    <span class="p">}</span>
  <span class="p">};</span>
<span class="p">});</span></code></pre></div>

<p>위 코드를 일반적인 콜백 방식으로 작성하게 되면 첫 번째 요청의 성공 콜백에서 다른 요청을 하 고 그 요청의 성공 콜백에서 두 요청에 대한 성공 처리를 하는 코드를 작성하게 된다. 이는 순차 적인 방법이고 첫 번째 요청이 완료돼야만 두 번째 요청을 할 수밖에 없다.(피라미드의 악몽이다.) 하지만 $q 서비스는 $q.all(약속들) 메서드를 이용해 약속을 반환하는 여러 비동기적인 일이 병렬적으로 행해지고 그 약속을 하나로 묶어 성공/실패 처리할 수 있게 해준다.</p>

<h2>References</h2>

<ul>
<li><a href="https://docs.angularjs.org/">angularjs official document</a></li>
<li><a href="http://andyshora.com/promises-angularjs-explained-as-cartoon.html">Promises in AngularJS, Explained as a Cartoon</a></li>
<li><a href="http://wikibook.co.kr/beginning-angularjs/">시작하세요 angularjs 프로그래밍</a></li>
</ul>

        </div>

        <div class="media_content media_item shadow_panel">
            <p>Tags : <a href="/tags/javascript">javascript</a>&nbsp;<a href="/tags/framework">framework</a>&nbsp;<a href="/tags/angularjs">angularjs</a>&nbsp;<a href="/tags/tutorials">tutorials</a>&nbsp;<a href="/tags/promise">promise</a>&nbsp;</p>
        </div>


        <div class="media_content media_item shadow_panel">
            <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'html5krforkisa'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
        </div>

    </div>

    <script>
        $('#main_content').toc();
    </script>
</div>
<footer>
<table width="100%" height="80" class="footer">
    <tr>
        <td align="center" class="footer_content">
            WebFrameworks.kr @since 2015
        </td>
    </tr>
</table>
</footer>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56520981-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>